@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.submit_button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.1rem;
}
.submit_button:hover {
  background: #00b09b; /* fallback for old browsers */
  color: white;
}

.flex_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
}
input {
  border: 2px solid black;
  padding: 3px;
  border-radius: 3px;
}

.flex_input p {
  font-weight: bolder;
}

table {
  min-width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

thead th {
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
}

tbody {
  text-align: center;
}

form {
  min-width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

form label {
  margin-bottom: 20px;
  font-weight: bold;
}
form input {
  margin-left: 10px;
}
